html, body, main {
  height: 100%;
}

.side-bar {
  font-family: 'Times New Roman';
  width: 30%;
  height: 100%;
  background-color: #F5F5F5;
  float: left;
  
}

.side-bar h1 {
  color: #585858;
  padding-left: 50px;
}

.side-bar ul {
  list-style-type: none;
  padding-left: 50px;
}

.side-bar li {
  color: #808080;
  font-size: 15px;
  margin-bottom: 1rem;
}

.chat-space {
  width: 70%;
  height: 100%;
  overflow: hidden;
}
