<main class="home-view">
    <div class="side-bar">
        <h1>Bloc Chat</h1>
        <ul class="room-listing">
            <li class="room-item" ng-repeat="room in home.rooms track by $index">
                <a class="room-name" ng-click="home.openRoom(room)">{{ room.$value }}</a>
            </li>
            <li ng-controller="ModalCtrl as modal">
                <button type="button" class="btn btn-default" ng-click="modal.open()">New Room</button>
            </li>
        </ul>
    </div>
    
    <section class="chat-area">
        <h1>{{home.currentRoomName}}</h1>
        <div class="message-list">
            <div class="message" ng-repeat="message in home.roomMessages track by $index">
                <p class="message-username">{{message.username}}  <span class="message-time">{{message.sentAt}}</span></p>
                <p class="message-content">{{ message.content }}</p>
            </div>
        
        </div>
        
        <div class="send-message">
            <form name="add-message" ng-submit="home.send()">
                <input type="text" class="form-control" ng-model="home.newMessage" placeholder="Write your message here ..." autofocus>
                <button type="submit"  class="btn btn-default">Send</button>
            </form>
        </div>
        
    </section>
</main>